
$background: rgb(65, 65, 65);
$text-colour: papayawhip;
$primary: rebeccapurple;
$timeline-main-colour: rgb(220, 220, 220);
$timeline-text-colour: rgb(65, 65, 65);
$timeline-icon-colour: white;
$timeline-date-colour: gray;

$success-colour: yellowgreen;
$success-shadow-colour: limegreen;
$error-colour: crimson;