
$timeline-bar-width: 5px;
$timeline-icon-size: 3rem;
$timeline-icon-border: 3px;
$timeline-top-offset: 3rem;

$triangle-edge: 1rem;
$timeline-stagger-offset: 7.5rem;
$timeline-container-offset: 1rem;

$timeline-content-padding: 2rem;
$timeline-content-radius: 3px;

$input-border-radius: 5px;